# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Linting
.mypy_cache/
.ruff_cache/

# Logs
logs/*.out
logs/*.err
logs/*.log
logs/slurm_*
logs/test/*.log
logs/test/*.out
logs/test/*.err

# IDE
.vscode/
.idea/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/
test_nb.ipynb

# System
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
*~
tmp.*

# Checkpoints
*.pth
*.ckpt

# Conda
condaenv.*.txt
