torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
transformers
timm
monai
nibabel
pydicom
simpleitk
itk
numpy
pandas
polars
pyarrow
scikit-learn
scikit-image
tqdm
matplotlib
pillow
jupyter
jupyterlab
ipykernel
black
ruff
mypy
pre-commit
